header {
    padding: 20px;
    background: var(--main-first-color);
    display: flex;
    justify-content: space-between;
    h1 {
        font-size: 18px;
    }
    nav {
        a {
            margin: 0 10px;
            padding: 10px;
            border-radius: 10px;
            color: var(--main-second-color);
            font-weight: bold;
            transition: 0.4s;
            &:hover {
                color: var(--main-first-color);
                background: var(--main-second-color);
            }
        }
    }
}
main {
    padding: 30px;
}